.form {
    margin-left: 38%;
    margin-right: 38%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 350px;
}

.div {
    display: flex;
    justify-content: space-between;  
}

.pointer{
    cursor: pointer;
  }
