<mat-toolbar color="primary" class="example-spacer" class="show-on-small-screens">
    <img *ngIf="photoURL" src="{{photoURL}}" style="height: 40px; width: 40px;  margin: 0 5px 0 0; border-radius: 50%;"
        alt="">
    <button mat-button style=" margin-right: 6px; " (click)=" getUserData()"> {{email}}</button>
    <div style="margin: 0 0 0 auto;">


        <button mat-button *ngIf="checkLocalStorageForLoggedUser()" routerLink="/auth/login">SignIn</button>
        <button mat-button *ngIf="checkLocalStorageForLoggedUser()" routerLink="/auth/register">SignUP</button>
        <button mat-button *ngIf="!checkLocalStorageForLoggedUser()" (click)="signOut()">LogOut</button>
    </div>
</mat-toolbar>