<p>List of People</p>
<!-- <button (click)="getPeople()">GetPeople</button> -->

<button mat-button (click)="showPeopleByChoosenOptions('true')" class="mat-raised-button mat-primary"
    style="margin-right: 6px; margin-left: 25px;">Show
    People Created By you</button>
<button mat-button (click)="showPeopleByChoosenOptions('false')" class="mat-raised-button mat-primary">Swow All
    People</button>
<div class="loader" *ngIf="loading"></div>
<div *ngFor="let person of people">
    <mat-card class="example-card">
        <mat-card-header>
            <img style="width: 120px; height: 150px; margin-left: 70px;" mat-card-image src="{{person.img}}"
                alt="Photo">

            <mat-card-title>Owner Email: {{person.
                ownerEmail}} </mat-card-title>
            <mat-card-title>First Name: </mat-card-title>


            <mat-card-subtitle>{{person.firstName}}</mat-card-subtitle>
            <mat-card-title>Second Name: </mat-card-title>
            <mat-card-subtitle>{{person.secondName}}</mat-card-subtitle>


            <mat-card-title>Age: </mat-card-title>
            <mat-card-subtitle>{{person.age}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-actions align="end" *ngIf="userId==person.ownerId">
            <button mat-button class="mat-raised-button mat-primary" (click)="editPeople(person)">Edit</button>
            <button mat-button class="mat-raised-button mat-warn" (click)="remove(person.id)">Remove</button>
        </mat-card-actions>
    </mat-card>
</div>