<form class="form" [formGroup]="form">


    <mat-form-field>
        <input matInput placeholder="First Name" formControlName="firstName">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Second Name" formControlName="secondName">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Age" formControlName="age">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="image URl optional" formControlName="img">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="adress optional" formControlName="adress">
    </mat-form-field>
    <!-- <button [ngStyle]="{'margin-right': '2px'}" class="mat-raised-button" (click)="close()">Close</button> -->
    <div style="margin: 0 0 0 auto;">
        <button type="button" [ngStyle]="{'margin-right': '2px'}" class="mat-raised-button"
            (click)="resetForm()">Reset</button>
        <button mat-button [disabled]="!form.valid" class="mat-raised-button mat-primary"
            (click)="create()">Save</button>
    </div>
</form>

<!-- <mat-dialog-actions align="end">

</mat-dialog-actions> -->