<mat-toolbar color="primary">
    <img *ngIf="photoURL" src="{{photoURL}}" style="height: 40px; width: 40px;  margin: 0 5px 0 0; border-radius: 50%;"
        alt="">
    <button mat-button style=" margin-right: 6px; " (click)=" getUserData()"> {{email}}</button>
    <div style="margin: 0 0 0 auto;">


        <button mat-button *ngIf="checkLocalStorageForLoggedUser()" routerLink="/auth/login">SignIn</button>
        <button mat-button *ngIf="checkLocalStorageForLoggedUser()" routerLink="/auth/register">SignUP</button>
        <button mat-button *ngIf="!checkLocalStorageForLoggedUser()" (click)="signOut()">LogOut</button>
    </div>
</mat-toolbar>





<!-- <div>
    <h1>logOut</h1>
  
  
    <button (click)="create()">CreATE</button>
    <button (click)="create()">getAllPeople</button>
  
  </div> -->
<router-outlet></router-outlet>