/* You can add global styles to this file, and also import other style files */


body, html , mat-sidenav-container {
    height: 100%;
    width: 100%;
    margin: 0;
  
 }

 mat-sidenav-container {
    .mat-drawer-content{
     
        position: unset;
z-index: 1;
display: block;
height: 100%;
overflow: auto;
    }
 }